.head {
  flex: 0 0 auto;
  border-radius: 50%;
  background: white;
}

.button {
  all: unset;
  cursor: move;
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #00f;
  background: #00fa;
  font-size: 11px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: transform 150ms;
}

.dragging .button {
  background: red !important;
  opacity: 0.5;
  box-shadow: -1px 0 10px 0 rgba(34, 33, 81, 0.01),
    0px 10px 10px 0 rgba(34, 33, 81, 0.25);
}

.placeholder {
  cursor: default;
  background: transparent;
  border-color: transparent;
}

.transparent {
  opacity: 0.5;
}
