@property --gradient-start-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --gradient-size {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --button-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #ddf;
}

@keyframes rotate-gradient-angle {
  0% {
    --gradient-start-angle: 0deg;
    --gradient-size: 40%;
  }

  50% {
    --gradient-start-angle: 180deg;
    --gradient-size: 70%;
  }

  100% {
    --gradient-start-angle: 360deg;
    --gradient-size: 40%;
  }
}

.overlay {
  background: rgb(255 255 255 / 0.8);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: grid;
  place-content: center;
}

.spinner {
  --button-border-color: #00f0;
  border: 6px solid var(--button-border-color);
  font: 1rem system-ui, sans-serif;

  display: block;
  color: #004;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  --gradient-size: 80%;

  background: linear-gradient(#f0f0ff, #f0f0ff) padding-box,
    conic-gradient(
        from var(--gradient-start-angle),
        #00e3 var(--gradient-size, 50%),
        #00e var(--gradient-size, 50%),
        #00e
      )
      border-box;

  border-radius: 1.2rem;
  transition: --button-border-color 5000ms cubic-bezier(1, 0, 0.9, 0);
  animation: rotate-gradient-angle 1000ms infinite linear;
}
