html,
body {
  margin: 0;
  background: #e3e3f0;
  font-family: sans-serif;
  overflow: hidden;
}

.Pane {
  overflow: hidden;
}

.Pane2 {
  min-height: 0;
}

.Resizer {
  position: relative;
  flex: 0 0 auto;
  background: #0003;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:after {
  content: "…";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 10px;
  background: #f9f9f9;
  border: 1px solid #0002;
  border-radius: 20px;
  color: #0006;
  text-align: center;
  line-height: 4px;
  font-size: 12px;
  z-index: 12;

  transform: translate(-50%, -50%);
}

.Resizer:hover:after {
  background: #fff;
}

.Resizer:hover {
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(102, 162, 253, 0);
  border-bottom: 5px solid rgba(102, 162, 253, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover,
.Resizer.horizontal:active {
  background-color: rgba(102, 162, 253, 1);
  border-top: 5px solid rgba(102, 162, 253, 0.4);
  border-bottom: 5px solid rgba(102, 162, 253, 0.4);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(102, 162, 253, 0);
  border-right: 5px solid rgba(102, 162, 253, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover,
.Resizer.vertical:active {
  background-color: rgba(102, 162, 253, 1);
  border-left: 5px solid rgba(102, 162, 253, 0.4);
  border-right: 5px solid rgba(102, 162, 253, 0.4);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
